@use "../../styles/variables" as *;
@use "../../styles/responsive" as *;
@use "../../styles/mixins" as *;

.nav {
  @include displayFlex(null, space-between, center);

  &__wrapper {
    width: 80%;
    margin: 0 auto;

    @include displayFlex(null, space-between, center, wrap);
  }
  &__section-container {
    @include displayFlex(null, center, center);
    width: 100%;
    margin: 0 auto;

    @include tablet {
      width: 25%;
    }
  }
  &__logo {
    width: 15%;
    border: none;
    @include tablet {
      width: 2.5rem;
    }
  }
  &__title {
    @include font($font-title, $bold, 2rem, $primary-brand);
    margin: 0 0 0 0.75rem;
  }

  &__link {
    border-bottom: none;
    display: block;
    padding: 0.5rem;
    text-align: center;

    @include tablet {
      padding: 0;
    }
    &:hover {
      border-bottom: none;
      color: $primary-brand;
    }

    &--cta {
      background-color: $secondary-brand;
    }

    &--logo {
      border-bottom: none;
      &:hover {
        border-bottom: none;
      }
    }
  }
  &__user {
    margin: 0 auto;
    width: 100%;

    @include tablet {
      margin: 0;
      @include displayFlex(null, space-around, center, wrap);
    }
    @include desktop {
      width: 50%;
    }
  }
}

.loggedon-user {
  @include displayFlex(null, center, center);
  &__img {
    width: 2rem;
    margin-right: 1rem;
  }

  &__name {
    margin: 0;
  }
}
