.react-flow {
  background-image: url("../../assets/images/board.jpg");
  background-position: center;
  background-size: cover;
}

.react-flow__node {
  background-color: white;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border: 1px solid black;
}
