@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/responsive" as *;

.followers {
  &__title {
    padding-top: 2rem;
  }
}
.follower {
  padding: 0.25rem;

  margin: 0.5rem auto;
  cursor: pointer;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border: 1px solid black;
  background-color: $light;
  @include displayFlex(null, space-around, center);

  @include tablet {
    width: 15rem;
  }

  &__side {
    text-align: center;
  }
  &__link {
    background-image: none;
    transition: 0.3s ease;

    &:hover {
      background-color: $primary-brand;
    }
  }
  &__avatar {
    width: 5rem;
  }
}
