@use "../../styles/variables" as *;

.form {
  width: 20rem;
  margin: 0 auto;

  &__title {
    text-align: center;
  }

  &__text {
    border: none;
    width: 100%;
    margin-bottom: 1rem;
    &:focus {
      border: none;
    }
  }
  &__file {
    width: 100%;

    &::file-selector-button {
      margin-right: 2rem;
      border: none;
      background: $primary-brand;
      padding: 10px 20px;
      border-radius: 10px;
      color: #fff;
      cursor: pointer;
      transition: background 0.2s ease-in-out;
      border-bottom-left-radius: 15px 255px;
      border-bottom-right-radius: 225px 15px;
      border-top-left-radius: 255px 15px;
      border-top-right-radius: 15px 225px;

      &:hover {
        background: $secondary-brand;
      }
    }
  }

  &__submit {
    margin-top: 1rem;
  }
}
